<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motorsport </title>
    <link rel="apple-touch-icon" sizes="180x180" href="../public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon-16x16.png">
    <link rel="manifest" href="../public/img/site.webmanifest">
    <link rel="stylesheet" href="../public/css/style_index.css">
 
</head>
<body>
    <header>
        <h1>Motorsport Inventory</h1>
        <nav id="nav_bar">
            <menu>
                <div><a href="./index">Home</a> | <a href="./staff">Staff</a> | <a href="./inventory">Inventory</a> | <a href="./results">Results</a> | <a href="./info">Information</a></div>
            </menu>
        </nav>
    </header>
    <hr>


    <div>
      <h2>Race Results:</h2>
      <p>Your system will include your own team standings.<br>The following example database is populated with results from Scuderia Ferrari and the 2021 Formula 1 World Championship.</p>
      <hr>
      <img id="teamlogo" src="../public/img/ferrari.png" style="float:right" width="20%"/>
      <div>
        <table>  
          <thead>  
              <tr>  
                <th>ID</th>  
                <th>Race</th>
                <th>Leclerc-16<br>Qualifying</th>
                <th>Leclerc-16<br>Race</th>
                <th>Leclerc-16<br>Points</th>
                <th>Sainz-55<br>Qualifying</th>
                <th>Sainz-55<br>Race</th>
                <th>Sainz-55<br>Points</th>
                <th>Team<br>Points</th>
              </tr>  
          </thead>  
           <tbody>  
            <%data.forEach((item)=>{%>
              <tr>  
                <td><%=item.raceID%></td>
                <td><%=item.raceName%></td>
                <td><%=item.quali16%></td>
                <td><%=item.race16%></td>
                <td><%=item.points16%></td>
                <td><%=item.quali55%></td>
                <td><%=item.race55%></td>
                <td><%=item.points55%></td>
                <td><%=item.points55 + item.points16%></td>
              </tr>                                   
           <%});%>
           </tbody>
        </table>
      </div>
    </div>

  <p>DNF = Did not finish<br>DNS = Did not start<br>DSQ = Disqualified</p>

  </body>

  <br>
  <hr>
  <footer>
      &copy; Copyright: Michal Huk, 2021
      <br>
       <a href="https://www.linkedin.com/in/itshukokay/"><img src="../public/img/linkedin-logo.png" alt="LinkedIn" style="height:14px;"></a> | <a href="mailto:mhuk@oakland.com">Contact</a>
  </footer>

</html>
