<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motorsport </title>
    <link rel="stylesheet" href="../public/css/style_index.css">
 
</head>
<body>
    <header>
        <h1>Motorsport Inventory</h1>
        <nav id="nav_bar">
            <menu>
                <div><a href="./index">Home</a> | <a href="./staff">Staff</a> | <a href="./inventory">Inventory</a> | <a href="./results">Results</a> | <a href="./info">Information</a></div>
            </menu>
        </nav>
    </header>
    <hr>


    <div>
    <!-- <div class="container"> -->
      <h2>Inventory</h2>
      <div>
        <table>  
          <thead>  
              <tr>  
                  <th>ID</th>  
                  <th>Category</th>
                  <th>Cost</th>
                  <th>Usage Amount</th>
                  <th>Car Number</th>
              </tr>  
          </thead>  
           <tbody>  
            <%data.forEach((item)=>{%>
              <tr>  
                <td><%=item.PartID%></td>
                <td><%=item.PartCat%></td>
                <td>$<%=item.PartCost%></td>
                <td><%=item.PartUse%> sessions</td>
                <td><%=item.CarAssign%></td>
              </tr>                                   
           <%});%>
           </tbody>
        </table>
      </div>
    </div>

  </body>

  <br>
  <hr>
  <footer>
      &copy; Copyright: Michal Huk, 2021
      <br>
       <a href="https://www.linkedin.com/in/itshukokay/"><img src="../public/img/linkedin-logo.png" alt="LinkedIn" style="height:14px;"></a> | <a href="mailto:mhuk@oakland.com">Contact</a>
  </footer>

</html>
